#Editor config files 
.vscode
.DS_Store

#Temporary placeholders
test
testleetcode
test2
test3
test4
test5
test.c
test2.c
test3.c
test4.c
test5.c
test.cpp
test2.cpp
test3.cpp
test4.cpp
test5.cpp
test.py
test2.py
test3.py
test4.py
test5.py
test.md
testleetcode.cpp
A
A.cpp
B
B.cpp
C.cpp
D
D.cpp
E
E.cpp
F
F.cpp
test_input
test2_input
test3_input
test4_input
test5_input
A_input
B_input
C_input
D_input
E_input